.flex {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 800px;
}

.backButton {
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 1em;
  margin-left: 1em;
  color: #fff;
  background: #111;
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.backButton:hover {
  background: #444;
}

.searchWithSource {
  padding: 0 10px;
  max-width: 800px;
  display: grid;
  grid-template-columns:
    minmax(100px, 4fr)
    minmax(75px, 2fr)
    minmax(75px, 2fr)
    minmax(50px, 1fr);
}

.searchWithoutSource {
  padding: 0 10px;
  max-width: 800px;
  display: grid;
  grid-template-columns:
    minmax(100px, 4fr)
    minmax(75px, 2fr)
    minmax(50px, 1fr);
}

.searchItem {
  display: flex;
  flex-direction: column;
  margin: 0 0.1rem;
  align-self: flex-end;
}

.main {
  padding: 0 10px;
}
